# Ignorar audios
*.wav
*.mp3
*.flac
*.m4a

# Ignorar transcripciones generadas
data/transcripts/*.json
data/transcripts/*.srt
data/transcripts/*.vtt
data/transcripts/*.txt

# Ignorar carpetas temporales
__pycache__/
*.pyc
